/* Error: expected ")".
 *     ,
 * 123 |   'blue':
 *     |         ^
 *     '
 *   src/scss/abstract/_theme.scss 123:9  @forward
 *   src/scss/abstract/_index.scss 1:1    @use
 *   src/scss/main.scss 10:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \")\".\a     \2577 \a 123 \2502    'blue':\a     \2502          ^\a     \2575 \a   src/scss/abstract/_theme.scss 123:9  @forward\a   src/scss/abstract/_index.scss 1:1    @use\a   src/scss/main.scss 10:1              root stylesheet";
}
