@use '../abstract' as *;

.modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 10px;
}

.card-container {
  border-radius: 10px;
  border: 2px solid transparent;
}
.card-dull {
  border-radius: 10px;
  border: 2px solid transparent;
}

.card-container:active {
  border: 2px solid map-get($colors, 'accent', 500);
}

.card-container:hover {
  background-color: map-get($colors, 'white', 400);
}

:root.dark {
  .card-container:hover {
    background-color: map-get($colors, 'black', 500);
  }
}
