@use '../abstract' as *;

.wave-layer {
  background-image: url('../img/blob-haikei.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.fill-primary {
  fill: map-get($colors, 'white', 500);
}
.fill-secondary {
  fill: map-get($colors, 'white', 500);
}
.fill-accent {
  fill: map-get($colors, 'black', 800);
}

:root.dark {
  .fill-primary {
    fill: map-get($colors, 'black', 800);
  }
  .fill-secondary {
    fill: map-get($colors, 'black', 800);
  }
  .fill-accent {
    fill: map-get($colors, 'black', 200);
  }
}
