@use 'sass:map';

$spacing: (
  'px': 1px,
  '0': 0,
  '1': 0.25rem,
  '2': 0.5rem,
  '3': 0.75rem,
  '4': 1rem,
  '5': 1.25rem,
  '6': 1.5rem,
  '7': 2.75rem,
  '8': 2rem,
  '9': 2.25rem,
  '10': 2.5rem,
  '11': 2.75rem,
  '12': 3rem,
  '16': 4rem,
  '20': 5rem,
  '24': 6rem,
  '28': 7rem,
  '32': 8rem,
  '36': 9rem,
  '40': 10rem,
  '44': 11rem,
  '48': 12rem,
  '52': 13rem,
  '56': 14rem,
  '60': 15rem,
  '64': 16rem,
  '72': 18rem,
  '80': 20rem,
  '96': 24rem,
  'auto': auto,
);

$height: map.merge(
  (
    'full': 100%,
    'screen': 100vh,
    'one-fifth': 20%,
    'two-fifth': 40%,
    'three-fifth': 60%,
    'four-fifth': 80%,
    'one-fourth': 25%,
    'two-fourth': 50%,
    'three-fourth': 75%,
  ),
  $spacing
);

$width: map.merge(
  (
    'full': 100%,
    'screen': 100vw,
    'one-fifth': 20%,
    'two-fifth': 40%,
    'three-fifth': 60%,
    'four-fifth': 80%,
    'one-fourth': 25%,
    'two-fourth': 50%,
    'three-fourth': 75%,
  ),
  $spacing
);

$justify: (
  'center': center,
  'between': space-between,
  'around': space-around,
  'evenly': space-evenly,
  'start': flex-start,
  'end': flex-end,
);

$items: (
  'center': center,
  'baseline': baseline,
  'stretch': stretch,
  'start': flex-start,
  'end': flex-end,
);

$flex: (
  '1': 1 1 0%,
  'auto': 1 1 auto,
  'initial': 0 1 auto,
  'none': none,
);

$align: (
  'left': left,
  'right': right,
  'center': center,
  'justify': justify,
);

$fontsize: (
  'xs': 0.75rem,
  'sm': 0.875rem,
  'md': 1rem,
  'lg': 1.125rem,
  'xl': 1.25rem,
  '2xl': 1.5rem,
  '3xl': 1.875rem,
  '4xl': 2.25rem,
  '5xl': 3rem,
  '6xl': 3.75rem,
  '7xl': 4.5rem,
  '8xl': 6rem,
  '9xl': 8rem,
);

$lineheight: (
  'xs': 1rem,
  'sm': 1.25rem,
  'md': 1.5rem,
  'lg': 1.75rem,
  'xl': 1.75rem,
  '2xl': 2rem,
  '3xl': 2.25rem,
  '4xl': 2.5rem,
  '5xl': 1,
  '6xl': 1,
  '7xl': 1,
  '8xl': 1,
  '9xl': 1,
);

$transition: (
  'all': all,
  'colors': (
    background-color,
    border-color,
    color,
    fill,
    stroke,
  ),
  'opacity': opacity,
  'shadow': box-shadow,
  'transform': transform,
);

$ease: (
  'linear': linear,
  'in': cubic-bezier(0.4, 0, 1, 1),
  'out': cubic-bezier(0, 0, 0.2, 1),
  'in-out': cubic-bezier(0.4, 0, 0.2, 1),
);

$duration: (
  '75': 75ms,
  '100': 100ms,
  '150': 150ms,
  '200': 200ms,
  '300': 300ms,
  '500': 500ms,
  '700': 700ms,
  '1000': 1000ms,
);

$display: (
  'initial': initial,
  'inherit': inherit,
  'hidden': hidden,
  'none': none,
);
